.container {
  margin: auto;
  position: relative;
  display: inline-block;
  width: 13%;
}

.input_field  {
  width: 100%;
  padding-left: 35px;
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
}

.input_adornment  {
  position: absolute;
  padding-top: 4px;
  font-size: 12px;
  top: 0;
  left: 10px;
}