.textfield {
    position: relative;
  }
  .textfield__input {
    border: 1px solid gray;
    display: flex;
    align-items: center;
    padding: 10px;
  }
  .textfield__input-field {
    width: 100%;
    border: 0px;
    padding-left: 10px;
    padding-top: 4px;
  }
  .textfield__input-field:focus {
    outline: none;
  }
  .textfield__input-adornment {
    padding-left: 10px;
  }
  .textfield__input:focus {
    outline: none;
  }
  .textfield__input:focus + .textfield__adornment-placeholder {
    display: none;
  }
  .textfield__adornment {
    position: absolute;
    top: 8px;
    left: 12px;
  }
  .textfield__adornment-text {
    color: 'black';
  }
  .textfield__adornment-placeholder {
    margin-left: 5px;
    color: 'black';
  }
  